<div id='column'>
  <h2>What is Tinderizer?</h2>
  <p>Tinderizer sends articles on the web to your Amazon Kindle device in one easy click.</p>
  <h2>Wasn&#8217;t this called Kindlebility?</h2>
  <p>Yes, but we got a letter from Amazon&#8217;s lawyers. They were super nice, and liked the app, but we had to change the name. No big deal.</p>
  <p>If you made your bookmarklet before, you will want to remake it. The old domain will go away eventually.</p>
  <h2>Does Tinderizer cost anything?</h2>
  <p>No. I don&#8217;t charge for the service, I do accept donations. If you feel Tinderizer benefits you, please feel free to use the donate button at the bottom of the page.</p>
  <p>While Tinderizer does not actually cost anything, Amazon may charge for their Personal Document Service. Please refer to <a href="http://www.amazon.com/gp/help/customer/display.html?nodeId=200505520&#fees">Amazon&#8217;s documentation</a> for more information about their fees.</p>
  <h2>What browsers does Tinderizer work on?</h2>
  <p>Google Chrome, Firefox 3.5+, Safari 4+, Opera, IE8+</p>
  <h2>A certain <span class="caps">URL</span> doesn&#8217;t work, what should I do?</h2>
  <p>Use the contact links at the bottom of the page to ask me. I might not be able to anything about it, but knowing about it is one step in the right direction.</p>
  <h2>Something&#8217;s not working quite right, can you fix it?</h2>
  <p>Probably! Check out the <a href="https://github.com/darkhelmet/Tinderizer/issues?labels=bug&state=open">bug list</a> first to see if the issue is known. If not, use the contact links at the bottom of the page to notify me about the problem. If you are a Github user, you can submit the issue right from the bug list.</p>
  <h2>Will you add the feature _____?</h2>
  <p>Maybe. Use the contact links at the bottom to ask me!</p>
  <h2>How does it work?</h2>
  <p>Tinderizer is powered by <a href="https://www.readability.com/">Readability</a>. They take care of extracting the article, then I do some shenanigans to get it to you. Check out the code for more info.</p>
  <hr />
</div>
