<link href='/static/skin.css' media='screen,handheld' rel='stylesheet' type='text/css' />
<!--[if lte IE 7]>
  <link href='/static/skin.ie7.css' media='screen,handheld' rel='stylesheet' type='text/css' />
<![endif]-->
<!--[if lte IE 8]>
  <link href='/static/skin.ie8.css' media='screen,handheld' rel='stylesheet' type='text/css' />
<![endif]-->
<script src='/static/slidedeck.jquery.js' type='text/javascript'></script>
<div class='center'>
  <div class='skin-literally' id='slidedeck_container'>
    <dl class='slidedeck'>
      <!-- Part 1: The problem -->
      <dt>The Problem</dt>
      <dd>
        <ul class='slidesVertical part_one'>
          <li class='vs1'>
            <p>
              The
              <a href='http://kindle.com/' target='_blank'>Amazon Kindle</a>
              is great.
            </p>
            <p>If all you read is books. But you don't.</p>
            <p>You're on the web,</p>
            <p>and you read stuff on the web.</p>
            <p>
              <a class='vsnext' href='#'>Keep Reading...</a>
            </p>
          </li>
          <li class='vs2'>
            <p>
              And
              <a href='https://www.readability.com/' target='_blank'>reading on the web is fine.</a>
            </p>
            <p>But you've got stuff to do,</p>
            <p>and can't read everything right now.</p>
            <p>Wouldn't it be nice to read it on your Kindle?</p>
            <p>
              <a class='vsnext' href='#'>Well...</a>
            </p>
          </li>
          <li class='vs3'>
            <p>Tinderizer can send most articles</p>
            <p>
              on the web
              <span class='si'>straight to your Kindle!</span>
            </p>
            <p>You can set it up in just a few minutes.</p>
            <p>
              There's
              <span class='si'>no signup,</span>
              I don't keep
              <span class='si'>any information!</span>
            </p>
            <p>
              <a class='hsnext' href='#'>Set up Tinderizer!</a>
            </p>
            <a href='https://github.com/darkhelmet/Tinderizer' target='_blank'>You can even view the code!</a>
          </li>
        </ul>
      </dd>
      <!-- Part 2: The solution -->
      <dt>The Solution</dt>
      <dd>
        <ul class='slidesVertical part_two'>
          <li class='vs1'>
            <p>
              Tinderizer uses a
              <a href='http://en.wikipedia.org/wiki/Bookmarklet' target='_blank'>bookmarklet</a>
              to do the work
            </p>
            <p>First you need to make the bookmarklet,</p>
            <p>then you have to let me to send you things.</p>
            <p>That's it!</p>
            <p>
              <a class='vsnext' href='#'>Make the bookmarklet</a>
            </p>
          </li>
          <li class='vs2'>
            <p>
              Enter your
              <em>
                <a class='facebox' href='/kindle-email'>Kindle Email</a>
              </em>
              in the big box below.
            </p>
            <p>
              <input class='round' id='email' placeholder='johndoe@kindle.com' type='text' />
            </p>
            <p>
              <a class='vsnext' href='#'>What's next?</a>
            </p>
            <span>
              You can use either an
              <em>@kindle.com</em>
              or
              <em>@free.kindle.com</em>
              address,
            </span>
            <br />
            <span>
              though the former might use 3G and
              <a href='http://www.amazon.com/gp/help/customer/display.html?nodeId=200505520&amp;#fees' target='_blank'>cost you money. Read more at Amazon.com.</a>
            </span>
          </li>
          <li class='vs3'>
            <p>
              Drag the bookmarklet to your
              <a class='facebox' href='http://img.skitch.com/20110523-jru4y8nyd7c4dcwif37x44fejq.medium.jpg'>bookmarks bar.</a>
            </p>
            <p>
              <a href='#' id='bookmarklet'>Send to my Kindle!</a>
            </p>
            <p>
              <a class='vsnext' href='#'>All done!</a>
            </p>
            <span>Need specifics?</span>
            <br />
            <br />
            <a class='facebox' href='/chrome'>Google Chrome</a>
            &middot;
            <a class='facebox' href='/safari'>Safari</a>
            &middot;
            <a class='facebox' href='/firefox'>Firefox</a>
            <br />
            <br />
            <a class='facebox' href='/ie'>Internet Explorer</a>
            &middot;
            <a class='facebox' href='/ios'>iPad/iPhone</a>
          </li>
          <li class='vs4'>
            <p>
              Head to
              <a href='https://www.amazon.com/gp/digital/fiona/manage' target='_blank'>Kindle.com</a>
              and add
            </p>
            <p>
              <span class='si'>kindle@darkhelmetlive.com</span>
            </p>
            <p>
              to your
              <span class='si'>
                <a class='facebox' href='http://img.skitch.com/20110523-jykm4xnmsg783thqmd6qtmdcab.jpg'>Kindle Approved Email List</a>
              </span>
            </p>
            <p>
              <a class='vsnext' href='#'>Now what?</a>
            </p>
            <span>Help me run the servers! Donate now!</span>
            {{.donate}}
          </li>
          <li class='vs5'>
            <p>Now browse to an interesting article,</p>
            <p>
              <a href='http://verboselogging.com/2011/01/20/the-what-why-and-how-of-kindlebility' target='_blank'>like this one,</a>
            </p>
            <p>and click the bookmarklet.</p>
            <p>It will show some progress, and then disappear.</p>
            <p>
              <a class='vsnext' href='#'>Anything else?</a>
            </p>
          </li>
          <li class='vs6'>
            <p>Turn your Kindle on!</p>
            <p>Your freshly pressed article should arrive soon.</p>
            <p>You can check the status of it on the</p>
            <p>
              <em>
                <a class='facebox' href='http://img.skitch.com/20110523-nwbkgekhnju9j7g93hbjhgbrxs.jpg'>Manage Your Kindle</a>
              </em>
              page.
            </p>
            <p>Happy reading!</p>
          </li>
        </ul>
      </dd>
    </dl>
  </div>
</div>
