<div class='browser'>
  <h2>On an iOS device&#8230;</h2>
  <ol>
  	<li>Bookmark this page.</li>
  	<li>Copy the text in the textbox.</li>
  	<li>Edit the bookmark you just made, and replace the Address with the copied text.</li>
  	<li>Done!</li>
  </ol>
  <textarea id='ios'></textarea>
</div>
