<div class='center'>
  <h2>
    Get it from
    <a href='https://www.amazon.com/gp/digital/fiona/manage' target='_blank'>Kindle.com</a>
    under
    <em>Manage Your Kindle</em>
  </h2>
  <img src='http://img.skitch.com/20110523-c4uhmkajachphpn849un9j1k5h.jpg' />
</div>
