<!DOCTYPE html>
<html>
  <head>
    <title>Tinderizer - Sending articles to your Kindle device, one click at a time!</title>
    <link href='/static/favicon.png' rel='shortcut icon' type='image/png' />
    <meta content='{{.host}}' name='host' />
    <meta content='text/html, charset=utf-8' http-equiv='Content-Type' />
    <meta content='Send articles to your Kindle device with a single click of a bookmarklet.' name='description' />
    <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch:700' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab&amp;subset=latin' rel='stylesheet' type='text/css' />
    <link href='/static/style.css' rel='stylesheet' type='text/css' />
    <link href='/static/facebox.css' rel='stylesheet' type='text/css' />
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js' type='text/javascript'></script>
    <script src='/static/facebox.js' type='text/javascript'></script>
    <script src='/static/app.js' type='text/javascript'></script>
    <script type='text/javascript'>
      //<![CDATA[
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-2062105-10']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      //]]>
    </script>
  </head>
  <body>
    <div class='center'>
      <h1 class='text_shadow' id='main'>
        <a href='/'>Tinderizer</a>
      </h1>
      <div id='tagline'>Sending articles to your Kindle device, one click at a time!</div>
      {{template "donate.tmpl"}}
    </div>
    {{.yield}}
    {{template "footer.tmpl"}}
  </body>
</html>
